@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  background-image: url('./img/pbba.png');
}

html, body {
  overflow-x: hidden; /* 🔒 Oculta cualquier scroll horizontal */
}
